* {
  overflow: auto;
}

.quantity-buttons {
  padding: 3px 7px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

#quantity-field {
  font-weight: 700;
  text-align: center;
  border: 3px solid #ccc;
  width: 5rem;
}
